[submodule "h7"]
	path = h7
	url = git@github.com:STMicroelectronics/STM32Cubeh7.git
	branch = master
[submodule "f4"]
	path = f4
	url = git@github.com:STMicroelectronics/STM32Cubef4.git
	branch = master
[submodule "l4"]
	path = l4
	url = git@github.com:STMicroelectronics/STM32Cubel4.git
	branch = master
